<link rel="stylesheet" href="css/main.css">

<% layout('layout/pattern') -%>
<div class="container">

  <div class="row">
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Широта</span>
        </div>
        <input name="latitude" class="form-control" value="48.7193900" type="number" placeholder="Широта">
      </div>
    </div>
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Долгота</span>
        </div>
        <input name="longitude" class="form-control" value="44.5018300" type="number" placeholder="Долгота">
      </div>
    </div>
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Высота</span>
        </div>
        <input name="elevation" class="form-control" type="text"  disabled>
      </div>
    </div>
    <br><br><br>

    <!-- <div class="col">
    <select name="api" class="form-control">
    <option selected value="0">API</option>
    <option value="1">Быстрое</option>
    <option value="2">Медленное</option>
  </select>
</div> -->

<div class="col">
  <button  type="submit" class="btn btn-primary" id="submitBtn">Вычислить </button>
  <div id="loader"></div>
</div>
</div>

<div class="row">
  <div class="col">
    <div id="map" style=" height: 570px"></div>
  </div>
  <!-- <table class="table table-bordered" style="width:200px">
    <thead>
      <tr>
        <th >№</th>
        <th >Широта</th>
        <th >Долгота</th>
        <th >Высота</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table> -->
</div>
</div>

<script src="js/main.js"></script>
