<link rel="stylesheet" href="css/main.css">

<% layout('layout/pattern') -%>
<div class="container">

  <div class="row">
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Широта</span>
        </div>
        <input name="latitude" class="form-control" value="48.7193900" type="text" placeholder="Широта">
      </div>
    </div>
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Долгота</span>
        </div>
        <input name="longitude" class="form-control" value="44.5018300" type="text" placeholder="Долгота">
      </div>
    </div>
    <div class="col-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Высота</span>
        </div>
        <input name="elevation" class="form-control" type="text"  disabled>
      </div>
    </div>
    <br><br><br>

    <!-- <div class="col">
    <select name="api" class="form-control">
    <option selected value="0">API</option>
    <option value="1">Быстрое</option>
    <option value="2">Медленное</option>
  </select>
</div> -->

<div class="col">
  <button  type="submit" class="btn btn-primary" id="submitBtn">Вычислить </button>
  <div id="loader"></div>
</div>
</div>

<div class="row">
  <div class="col">
    <div id="map" style=" height: 570px"></div>
  </div>
</div>
</div>

<script>
$('#loader').hide();
// Функция ymaps.ready() будет вызвана, когда
// загрузятся все компоненты API, а также когда будет готово DOM-дерево.
ymaps.ready(init);

function init () {
  var myMap = new ymaps.Map("map", {
    center: [48.707103, 44.516939],
    zoom: 7
  }, {
    searchControlProvider: 'yandex#search'
  });

  var countPoints = 1;
  var submitBtn = document.getElementById("submitBtn");
  submitBtn.onclick = function () {
    var data = {};
    data.latitude = $("input[name='latitude']").val();
    data.longitude = $("input[name='longitude']").val();
    //data.api =  $("select[name='api']").val();

    $.ajax({
      type: 'POST',
      url: '/elevation',
      dataType: 'json',
      data:  data,
      beforeSend: function() {
       $('#loader').show();
   },
   complete: function() {
       $('#loader').hide();
   },
      success: function(data) {
        var elevation = JSON.parse(data);
        $("input[name='elevation']").val(elevation);

        // отрисуем на карте $("input.. - т.к data нету еще
        myMap.geoObjects
        .add(new ymaps.Placemark([ $("input[name='latitude']").val(), $("input[name='longitude']").val()], {
          balloonContent: 'Широта: ' + $("input[name='latitude']").val() + '°'
          + '<br> Долгота: ' + $("input[name='longitude']").val() + '°'
          + '<br> Высота над уровнем моря: ' + $("input[name='elevation']").val() + ' м' ,
          iconCaption: 'Точка № ' + countPoints
        }, {
          preset: 'islands#greenDotIconWithCaption'
        }));
        myMap.setCenter([$("input[name='latitude']").val(), $("input[name='longitude']").val()]);
        countPoints++;
        console.log(countPoints);
      }
    });
  }
}
</script>
