<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    <a href="https://documenter.getpostman.com/view/5148223/RWgwSFwQ" target="_blank">
      <img src="images/postmanLogo.png" title="API" alt="API" style="width: 50px; height: 50px; margin-right:10px;">
    </a>
    <a href="https://vk.com/vladiclav001" target="_blank">Гурьев Владислав</a>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:44px;">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">© 2018</a>
      <a class="navbar-brand" href="https://urbanbasis.com/">UClab</a>
      <a class="navbar-brand" href="#">ВСЕ ПРАВА ЗАЩИЩЕНЫ</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://urbanbasis.com/feedback" target="_blank">Вы можете оставить комментарий по работе сервиса здесь ➤</a></li>
    </ul>
  </div>
</nav>


</footer>
